###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change-me
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
# Локальная БД (в docker-compose используется serverVersion=16)
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/tickets_back?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
# Сгенерировать ключи: php bin/console lexik:jwt:generate-keypair
JWT_PASSPHRASE=change-me
###< lexik/jwt-authentication-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN_EVENTS=amqp://guest:guest@rabbitmq:5672/%2f/events
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_FROM=noreply@example.com
# Для реальной отправки замените на SMTP, например: smtp://user:pass@smtp.example.com:587
MAILER_DSN=null://null
# URL фронтенда, на который мок-банк редиректит после оплаты
FRONTEND_URL=http://localhost:5173
###< symfony/mailer ###

###> elasticsearch ###
# JSON-массив хостов: env(json:ELASTICSEARCH_HOSTS) в services.yaml
ELASTICSEARCH_HOSTS=["http://elasticsearch:9200"]
###< elasticsearch ###

###> redis ###
REDIS_URL=redis://redis:6379
###< redis ###

###> clickhouse ###
CLICKHOUSE_HOST=tick_clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=ticket_user
CLICKHOUSE_PASSWORD=ticket_pass
CLICKHOUSE_DB=default
###< clickhouse ###
